// Documentation Styles
// --------------------

// Imports

// Color Variables
$dark-gray: #323a45;
$white: #ffffff;
$blue: #0071bc;

// Contextual Variables
$doc-body-bg: $white;
$doc-side-nav-bg: $dark-gray;

.doc-base {
	background: $doc-body-bg;
	color: $dark-gray;
	min-height: 100vh;
	padding-bottom: 5rem;
}

.doc-base {
	.doc-button {
		background: $blue;
		color: $white;
		font-size: .8rem;
		border-radius: .3rem;
		font-weight: bold;
		text-decoration: none;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background 180ms ease;
		&:hover {
			background: darken($blue, 10%);
		}
	}
	// Table Styles
	table {
		border-collapse: collapse;
	}
	table, th, tr, td {
		border: 1px solid #aaaaaa;
	}
	th, td {
		padding: .5rem;
	}
	th {
		background: #f7f7f7;
	}
	// Classes for sandbox vs production distinction
	th.does-work {
		background: #E7F4E4;
	}
	th.does-not-work {
		background: #F9DEDE;
	}
}

// Documentation Side Nav
.doc-side-nav {
	background: $dark-gray;
	padding-top: 1rem;
	height: 100vh;
}

.doc-side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.doc-side-nav ul li a {
	color: #fff;
	padding: .75rem 1rem;
	font-size: .8rem;
	text-decoration: none;
	display: block;
	&:hover {
		background: darken($doc-side-nav-bg, 5%);
	}
}

.doc-side-nav {
	.active {
		color: #6099d3 !important;
	}
}

// Documentation Content

.box {
	box-shadow: 2px 2px 5px 1px grey;
	border-radius: 5px;
}

// Swagger UI Custom Overrides

.swagger-ui {
	.auth-btn-wrapper {
		justify-content: flex-start;
	}
	button {
		margin-right: .5rem !important;
	}
}